@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Karla&display=swap');

:root {
  --main-font: 'Karla', sans-serif;
  --modal-title-font: 'Agbalumo', sans-serif;
  --main-clr: rgb(255, 185, 55);
}

::selection {
  background-color: var(--main-clr);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

/* Modal rules */

dialog {
  border-radius: 16px;
}

.modal-container {
  display: grid;
}

.modal-title {
  font-family: var(--modal-title-font);
  place-self: center;
  font-size: 2rem;
  margin: 16px;
}

dialog form {
  display: grid;
  gap: 8px;
}

form .form-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 16px;
  row-gap: 8px;
}

dialog::backdrop {
  background-color: blur(8px);
}

.form-wrapper p,
.name-label label {
  font-weight: bold;
}

.form-wrapper .name-input {
  grid-area: 2 / 2 / 3 / 4;
}

.name-input input,
.name-input input:focus {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 30px;
  font-size: 0.9rem;
  font-family: var(--main-font);
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgb(211, 211, 211);
}

div[class^='player'] {
  position: relative;
}

div[class^='player'] label[for^='player'] {
  border: 1px solid var(--main-clr);
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

dialog input[type='radio'] {
  /* display: none; */
  position: absolute;
  width: 20%;
  appearance: none;
}

input[type='radio']:checked + label {
  background-color: var(--main-clr);
}

.submit-button button {
  grid-column: 1 / 4;
  height: 50px;
  font-family: var(--main-font);
  font-size: 1.4rem;
  font-weight: bold;
  border: 1px solid var(--main-clr);
  border-radius: 12px;
  background-color: var(--main-clr);
  margin-top: 16px;
  cursor: pointer;
}

/* Main page rules */

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    '. header .'
    '. main   .'
    '. footer .';
}

header {
  grid-area: header;
  place-self: center;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  place-items: center;
}

footer {
  grid-area: footer;
  place-self: center;
}

.board {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
}