@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root {
  --fonts: 'Karla', sans-serif;
}

body {
  font-family: var(--fonts);
}

dialog::backdrop {
  background-color: blur(8px);
}

dialog label[for^='player'] {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

dialog input[type='radio']:checked + label {
  background-color: red;
}

dialog input[type='radio'] {
  opacity: 0.01;
  z-index: 100;
}
